<p id="notice"><%= notice %></p>

<h1>Books</h1>
<%= link_to 'New Book', new_book_path %>
<div class="row">
  <% @books.each do |book| %>
    <div class="col-xs-3">
      <div class="book">
      <h3><%= book.title %></h3>
      <h5><%= book.author %></h5>
      <p>Length: <%= book.page_length %> pages</p>
      <p>Rating: <%= book.rating %></p>
      <%= link_to 'Show', book %>
      <%= link_to 'Edit', edit_book_path(book) %>
      <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
    </div>
  <% end %>
  </div>
</div>