<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row">
<div class="col-xs-4">

<div class="book">
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Page length:</strong>
  <%= @book.page_length %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @number_of_votes == 0 %>
    No votes yet
  <% else %>
    <%= (@number_of_likes.to_f / @number_of_votes.to_f) * 100 %>% from <%= @number_of_votes %> votes.
  <% end %>
</p>

<p>
    <% if user_signed_in? %>
    <% if current_user.book_list.include?(@book.id) %>
        <%= link_to "Remove", remove_path(id: @book.id), remote: true, class: "btn btn-danger following" %>
    <% else %>
	    <%= link_to "Add", add_path(id: @book.id), remote: true, class: "btn btn-primary following" %>
    <% end %>
    <% end %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>

</div>
<div class="col-xs-4">
<center><h2>Users who like this book</h2></center>
<center>
  <% if @liked_by.empty? %>
  <h3 class="user">None</h3>
  <% end %>
</center>
<% @liked_by.each do |user| %>
  <div class="user">
  <%= link_to "@#{user.username}", show_user_path(id: user.id) %>
  <div class="pull-right">
  <% if user_signed_in? %>
    <% if current_user.following.include?(user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: user.id), remote: true, class: "btn btn-danger following" %>
    <% elsif current_user.id != user.id %>
        <%= link_to "Follow", now_following_path(id: user.id), remote: true, class: "btn btn-primary following" %>
    <% end %>
  <% end %>
  </div>
  </div>
  <br>
<% end %>
</div>

<div class="col-xs-4">
<center><h2>Users who dislike this book</h2></center>
<center>
  <% if @disliked_by.empty? %>
  <h3 class="user">None</h3>
  <% end %>
</center>
<% @disliked_by.each do |user| %>
  <div class="user">
  <%= link_to "@#{user.username}", show_user_path(id: user.id) %>
  <div class="pull-right">
  <% if user_signed_in? %>
    <% if current_user.following.include?(user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: user.id), remote: true, class: "btn btn-danger following" %>
    <% elsif current_user.id != user.id %>
        <%= link_to "Follow", now_following_path(id: user.id), remote: true, class: "btn btn-primary following" %>
    <% end %>
  <% end %>
  </div>
  </div>
  <br>
<% end %>
</div>

</div>

</div>
