<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Page length:</strong>
  <%= @book.page_length %>
</p>

<p>
  <strong>Rating:</strong>
  <%= (@number_of_likes.to_f / @number_of_votes.to_f) * 100 %>% from <%= @number_of_votes %> votes.
</p>

<p>
    <% if user_signed_in? %>
    <% if current_user.book_list.include?(@book.id) %>
        <%= link_to "Remove", remove_path(id: @book.id), class: "btn btn-danger following" %>
    <% else %>
	    <%= link_to "Add", add_path(id: @book.id), class: "btn btn-primary following" %>
    <% end %>
    <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
