<center>
<% if @user.id == current_user.id %>
    <h1>Your Profile</h1>
<% else %>
    <h1>@<%= @user.username %>'s Profile</h1>
    <% if user_signed_in? %>
    <% if current_user.following.include?(@user.id) %>
        <p><%= link_to "Unfollow", unfollow_path(id: @user.id), remote: true, class: "btn btn-danger following" %></p>
    <% else %>
        <p><%= link_to "Follow", now_following_path(id: @user.id), remote: true, class: "btn btn-primary following" %></p>
    <% end %>
    <% end %>
<% end %>
</center>
<div class="bio">
<center><h3><%= @user.name %></h3></center>
<p><%= @user.bio %></p>
<div class="row">
    <div class="col-xs-6">
    <% if @user.id != current_user.id %>
        <h4>You share <%= @shared_books_number %> <%= @book %> with <%= "@#{@user.username}" %></h4>
        <p><%= link_to "Shared Books", shared_books_path(id: @user.id), class: "btn btn-default" %></p>
    <% end %>
    <p><%= link_to "@#{@user.username}'s Books", user_books_path(id: @user.id), class: "btn btn-default" %></p>
    </div>
    <div class="col-xs-6">
    <div class="pull-right">
    <%= link_to "Who @#{@user.username} Follows", following_path(id: @user.id), class: "btn btn-default" %>
    <br>
    <br>
    <%= link_to "@#{@user.username}'s Followers", followers_path(id: @user.id), class: "btn btn-default" %>
    </div>
    </div>
</div>

</div>
<br>
<div class="row">
<% @user.posts.each do |post| %>
    <div class="col-xs-6">
    <div class="post">
        <p><%= post.message %></p>
    </div>
    <br>
    <p>
        <% if user_signed_in? %>
            <% if current_user.id == post.user_id %>
                <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
                <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
        <% end %>
    </p>
    <br>
    </div>
<% end %>
</div>
