<h1>@<%= @user.username %>'s Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.bio %></p>
<p><%= link_to "#{@user.username}'s Books", user_books_path(id: @user.id), class: "btn btn-default" %></p>
<p>
    <% if user_signed_in? %>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger following" %>
    <% else %>
        <% if current_user.id != @user.id %>
	    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary following" %>
		<% end %>
    <% end %>
    <% end %>
</p>
<div class="row">
<% @user.posts.each do |post| %>
    <div class="col-xs-6">
    <div class="post">
        <p><%= post.message %></p>
    </div>
    <br>
    </div>
<% end %>
</div>