<h1>@<%= @user.username %>'s Profile</h1>

<p><%= @user.name %></p>
<p><%= @user.bio %></p>

<p>

    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
    <% else %>
        <% if current_user.id != @user.id %>
	    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
    <% end %>
</p>

<% @user.posts.each do |post| %>
    <div>
        <p>@<%= @user.username %></p>
		<p><%= post.message %></p>
    </div>
<% end %>