<% if @book_list.empty? %>
	<h2>No Books</h2>
<% end %>
<div class="row">
<% @book_list.each do |book| %>
	<div class="col-xs-4">
	<div class="book">
		<h3><%= book.title %></h3>
		<h5><%= book.author %></h5>
		<p><%= book.page_length %> pages</p>
		<p><%= book.rating %></p>
		<p>
    	<%= link_to "Remove", remove_path(id: book.id), class: "btn btn-danger following" %>
		</p>
	</div>
	<br>
	</div>
<% end %>
</div>