<% if @book_list.empty? %>
	<h2>No Books</h2>
<% end %>
<h1>Rate Your books when you have finished reading them</h1>
<div class="row">
<% @book_list.each do |book| %>
	<div class="col-xs-4">
	<div class="book">
		<h3><%= link_to book.title, show_book_path(id: book.id) %></h3>
		<h5><%= book.author %></h5>
		<p><%= book.page_length %> pages</p>

    	<%= link_to "Remove", remove_path(id: book.id), class: "btn btn-danger following" %>
    	<div class="pull-right">
    	<% unless current_user.liked_books.include?(book.id) %>
    		<%= link_to "Like", like_path(id: book.id), remote: true, class: "btn btn-primary following" %>
    	<% end %>
    	<% unless current_user.disliked_books.include?(book.id) %>
    		<%= link_to "Dislike", dislike_path(id: book.id), remote: true, class: "btn btn-primary following" %>
    	<% end %>
    	</div>
    	<div class="pull-right">
		<% if current_user.liked_books.include?(book.id) %>
			<p class="like">You liked this book</p>
		<% elsif current_user.disliked_books.include?(book.id) %>
			<p class="like">You disliked this book</p>
		<% end %>
		</div>

	</div>
	<br>
	</div>
<% end %>
</div>
