<center><h1>Your Ratings</h1></center>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
		<h3>Liked Books</h3>
		<% @liked_books.each do |book| %>
			<div class="book">
			<h3><%= link_to book.title, show_book_path(id: book.id) %></h3>
			<%= link_to "Dislike", dislike_path(id: book.id), class: "btn btn-primary following pull-right" %>
			<p><%= book.author %></p>
			</div>
			<br>
		<% end %>
		</div>
		<div class="col-xs-6">
		<h3>Disliked Books</h3>
		<% @disliked_books.each do |book| %>
			<div class="book">
			<h3><%= book.title %></h3>
			<%= link_to "Like", like_path(id: book.id), class: "btn btn-primary following pull-right" %>
			<p><%= book.author %></p>
			</div>
			<br>
		<% end %>
		</div>
	</div>
</div>